* {
  padding: 0;
  margin: 0;
}
html,body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.love {
  display: block;
  width: 100px;
  height: 100px;
  background: url('https://www.zhangxinxu.com/study/201512/web_heart_animation.png') 0 0 no-repeat;
  background-size: 2900%;
  animation: heart-burst steps(28) 2s infinite both;
}
.stop {
  animation-play-state: paused;
}
@keyframes heart-burst {
0% {
  background-position: 0%;
}
100% {
  background-position: 100%;
}
}